# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=224847
POSTGRES_DB=learn_mes_database
POSTGRES_PORT=5433
DATABASE_URL=postgres://user:pass@localhost:5433/dbname

ALLOWED_HOSTS=localhost,127.0.0.1

DEBUG=True